<div class="content-main" >     
<!--  riga -->
    <div class="margin-b-30">
    <ul>
        <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="recipe in recipes | filter:query | filter:filterCategory | orderBy:orderProp" >    
        <!-- primo elemento -->
        <div>
            <div class="box bottom-main info-description-container">
                    <div class="info">
                        <div class="proin-title">
                            <h3><a href="#/recipe/{{recipe._id}}">{{recipe.name}}</a></h3>
                            <h4 class="row text-uppercase">
                                <span ng-repeat="tag in recipe.tag">{{tag}}{{!$last ? ", " : ""}}</span>
                            </h4>
                            <h4 class="text-uppercase">{{recipe.timeOfSteps}} min</h4>
                        </div>                                       
                        <a href="#/recipe/{{recipe._id}}">
                            <img ng-src="app/images/cook1.jpg" alt="{{recipe.name}}" class="img-responsive">
                        </a>
                        <p class="proin-right-text">{{recipe.description}}</p>
                    </div> <!-- .info -->
                </div>
        </div>
        <!-- fine primo elemento -->
        </li> 
    </ul>
    </div> <!-- fine riga -->   
                        
</div>


