<div class="content-main">
    <div class="contact-content-upper">
        <div class="row margin-b-30" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>Aggiungi una ricetta</h3>
                    <h4>completa tutti i campi</h4>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-12 contact_left">
                <form class="form-horizontal" ng-submit="" >
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nome..." ng-model="newRecipe.name" >
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="tags" name="email" placeholder="tags... (e.g. Antipasto, Secondo)" ng-model="newRecipe.tag">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="description" name="email" placeholder="Breve descrizione..." ng-model="newRecipe.description">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 contact_right">
                            <h5>Difficoltà</h5>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="newRecipe.difficulty"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" ng-model="newRecipe.difficulty"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" ng-model="newRecipe.difficulty"> 3
                            </label>
                        </div>

                        <div class="col-sm-3 contact_right" >
                            <h5>Persone</h5>
                            <input type="text" class="form-control" placeholder="numero.." ng-model="newRecipe.numberOfPeople">
                        </div>

                        <div class="col-sm-3 col-md-3 contact_right">
                            <h5>Costo</h5>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio11" value="1" ng-model="newRecipe.cost"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio22" value="2" ng-model="newRecipe.cost"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio33" value="3" ng-model="newRecipe.cost"> 3
                            </label>
                        </div>
                        <div class="col-sm-3 contact_right" >
                            <h5>Tempo preparazione</h5>
                            <input type="text" class="form-control" placeholder="mn.." ng-model="newRecipe.timeOfSteps">
                        </div>

                    </div>

                    <div class="form-group col-sm-12">
                            <fieldset  ng-repeat="ingredient in newRecipe.ingredients">
                                <div class="displayInline">
                                    <input type="text" class="form-control" ng-model="ingredient.name" placeholder="Nome ingrediente...">
                                    <input type="text" class="form-control" ng-model="ingredient.quantity" placeholder="quantità...">
                                    <button class="btn view_more" ng-click="removeIngredient($index)">-</button>
                                </div>
                            </fieldset>

                            <button class="btn view_more" ng-click="addNewIngredient()">Aggiungi ingrediente</button>
                    </div>

                    <div class="form-group col-sm-12">
                        <fieldset ng-repeat="step in newRecipe.steps track by $index">
                            <div class="displayInline">
                                <input type="text" class="form-control" ng-model="step.descr" placeholder="Passo {{$index+1}}...">
                                <button class="btn view_more" ng-click="removeStep($index)">-</button>
                            </div>
                        </fieldset>
                        <button class="btn view_more" ng-click="addNewStep()">Aggiungi passo</button>
                    </div>
                    <div class="col-sm-12">
                        <p class="form-group">Seleziona un ricettario esistente o creane uno nuovo </p>
                    </div>
                    <div class="col-sm-12">
                        <select class="c-select form-group" ng-model="cookbookSelected">
                            <option value="">Seleziona ricettario</option>
                            <option value="newCookbook">Aggiungi Ricettario</option>
                            <option ng-repeat="cookbook in cookbooks" value="{{cookbook._id}}" >{{cookbook.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="cookbookSelected=='newCookbook'">
                        <input type="text" class="form-control" id="nameCookbook" name="name" placeholder="Nome..." ng-model="newCookbook.name" >
                        <input type="text" class="form-control" id="descrCookbook" name="descr" placeholder="Descrizione..." ng-model="newCookbook.description" >
                        <input type="text" class="form-control" id="ownerCookbook" name="owner" placeholder="Nome creatore..." ng-model="newCookbook.owener" >
                    </div>
                    <div class="form-group">
                        <input class="btn view_more" name="submit" type="submit" ng-click="addRecipe()" value="Aggiungi" id="submit"  >
                    </div>

                    <div class="col-sm-12">
                        <p class="form-group">{{msg}}</p>
                    </div>
                </form>

            </div> <!-- .contact-left -->

        </div> <!-- .row -->
    </div>

</div> <!-- .contact-content -->
</div> <!-- .main-page -->
</div> <!-- .row -->







